<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.CreatorBoostpad">

        <!-- TEMP launcher = our Zalara smoke screen -->
        <!-- TEMP launcher = our Zalara smoke screen -->
        <activity
            android:name=".ZalaraSmokeActivity"
            android:exported="true"
            android:theme="@style/Theme.CreatorBoostpad.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Keep your real activity, but NOT the launcher for now -->
        <activity android:name=".MainActivity" android:exported="true" />
    </application>
</manifest>